.label{    
    font-size: 50px;
    font-style: oblique;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.footer-right{
    float: right;
}